.chart-container {
  position: relative;
  height: 350px;
  width: 100%;
  padding: 0.5rem;

  canvas {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }
}
